@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-blue: #282c32;
  --color-blue: #0e6efd;
  --color-light-blue: #60d7ff;
  --color-soft-white: #e0e0e0;
  --color-morph-border: rgba(230, 230, 230, 0.25);

  --soft-gradient: 145deg, #cacaca, #f0f0f0;
  --dark-gradient: 145deg, #23262b, #34383d;

  --shadow-dark:
    -0.375em -0.375em 0.75em rgba(255, 255, 255, 0.15),
    0.375em 0.375em 0.75em rgba(0, 0, 0, 0.75);
  --shadow-light: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  --inset-shadow-light:
    inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  --inset-shadow-dark: inset 4px 4px 12px #1c1f24, inset -4px -4px 12px #43484f;

  --animate-drop: drop 4s linear infinite;
  @keyframes drop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(120vh);
    }
  }

  --animate-rise: rise 4s linear infinite;
  @keyframes rise {
    0% {
      transform: translateY(120vh);
    }
    100% {
      transform: translateY(0);
    }
  }
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
